.naranjas{
    min-height: 265px;
    object-fit: cover;
}
.bg_form_contacto{
    background-color:#F3F3F3; 
    
}
.form_contacto {
    background-color: white;
    margin-top:-150px;
    @media(min-width:768px) {
        background-color:#F3F3F3; 
    }
}

