.naranjas_back_img {
    background-image: url('../../images/naranjas_mod.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 263px;
}

.back_form {
    background-color: #FAFAFA ;
    position: absolute;
    bottom: 150px;

}

