.bg-jarron {
  background-image: url("../../images/diseño/jarron\ de\ flores\ acuarela.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 320px) {
  .portada_contenedor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px 0px;
  }
  
  .portada_presentacion {
    margin-top: -30px;
    margin-bottom: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-weight: 400;
      font-size: 28px;
      line-height: 34px;
      text-align: center;
      margin: 20px 10px 10px 10px;
    }
    p {
      font-family: "Montserrat";
      font-weight: 300;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      margin: 0px 10px 20px 10px;
    }
  }

  .portada_card {
    min-height: 150px;
    position: relative;
    h2 {
      font-family: "Arvo";
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      line-height: 28px;
      margin-bottom: 0;
      color: white;
      text-align: center;
    }
  }
  .portada_card-arrow {
    position: absolute;
    align-self: end;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
    width: 45px;
    height: 26px;
    i {
      width: 20px;
      font-size: 16px;
      color: white;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .portada_presentacion {
    margin-top: 0px;
    h1 {
      margin: 35px 10px 14px 10px;
    }
    p {
      font-size: 20px;
    }
  }
  .portada_contenedor-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-gap: 0px 0px;
    margin: auto;
  }
  .portada_card {
    min-height: 300px;
    max-width: 32%;
  }
}

@media (min-width: 1024px) {
  .portada_card {
    min-height: 350px;
  }
  .bg-jarron {
    background-image: url("../../images/diseño/jarron\ de\ flores\ acuarela.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1280px) {
  .portada_card {
    min-height: 400px;
  }
}

@media (min-width: 1920px) {
  .portada_card {
    min-height: 450px;
    width: 30%;
  }
  .bg-jarron {
    height: 600px;
  }
}
