.bg-arrow {
  background-color: rgba(255, 255, 255, 0.2);
}

.arrow_card_portada {
  position: absolute;
  align-self: end;
  bottom: 0;
}

.text-hero {
  position: relative;
  margin-top: -30px;
}

.bg-jarron {
  background-image: url("../../images/diseño/jarron\ de\ flores\ acuarela.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 320px) {
  .card_portada-heigth {
    min-height: 150px;
  }
}

@media (min-width: 768px) {
  .card_portada-heigth {
    min-height: 250px;
    width: 30%;
  }
}

@media (min-width: 1024px) {
  .card_portada-heigth {
    min-height: 300px;
  }
  .bg-jarron {
    background-image: url("../../images/diseño/jarron\ de\ flores\ acuarela.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1920px) {
  .card_portada-heigth {
    min-height: 400px;
  }
  .bg-jarron {
    background-image: url("../../images/diseño/jarron\ de\ flores\ acuarela.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
