.popUp {
    position: absolute;
    background-color: white;
    border: 1px solid #CFAB82;
    z-index: 9999;
}
.form_button_popUp {
    background-color: #c89e6f;
    border-radius: 70px;
    height: 40px;
    border: none;
    min-width: 200px;
    color: white;
    font-family: "Arvo", serif;
  }

