.newsletter {
  background-image: url("../../images/probando\ paleta\ color\ acuarela.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // position: relative;
  input{
    background-color: #E9E7E7;;
  }
}

.bg-newsletter {
  background: rgba(255, 255, 255, 0.9);

}

