

.modall {
  list-style: none;
  padding-left: 15px;
  z-index: 1200;
  position: absolute;
  background-color: white;
  width: 100%;
}
.nav-bar {
  z-index: 15000;
  background-color: white;
}
.animation-navbar {
  z-index: 1200;
  background-color: white;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.animation-down {
  @extend .animation-navbar;
  animation-name: scrollDown;
}
.animation-Up {
  @extend .animation-navbar;
  animation-name: scrollUp;
  animation-duration: 1.5s;
}
.animate__fadeIn {
  animation-delay: 0.3s;
}

.nav-item {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transition: 0.5s;
  }

  &:hover::after {
    width: 100%;
    background-color: #404040;
  }
  
  &:focus::after {
    width: 100%;
    background-color: #404040;
  }

}

@media (min-width: 768px) {
  .w-logo-md {
    width: 63px;
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
    position: sticky;
  }
}

@keyframes scrollUp {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-100px);
  }
}