.footer {
  margin-top: 70px;
    background-color: #fafafa;

  .fs-7 {
    font-size: 12px;
  }

  .change-language {
    color: #c89e6f;
    font-size: 13px;
    font-weight: 500;
  }
  .pointer {
    cursor: pointer;
  }
}
.footer-li {
  li{
    margin-bottom: 10px;
  }
}
