.footer {
  .bg-footer {
    background-color: #fafafa;
  }

  .fs-7 {
    font-size: 12px;
  }

  .change-language {
    color: #c89e6f;
    font-size: 13px;
    font-weight: 500;
  }
  .pointer {
    cursor: pointer;
  }
}
