.error404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    img{
        margin-bottom: 50px;
    }
    p{
        font-weight: 700;
    }
  
}

.error404_changeLenguage{
        position: absolute;
        bottom: 15px;
        right: 15px;
    
}