@import "_navbar.scss";
@import "_variables.scss";
@import url("../../src/Pages/Portada/HeroPortda.scss");
@import url("../Componentes/newsletterForm/newsletter.scss");
@import url("../Pages/Portada/Instagram/instagram.scss");
@import url("../../src/Componentes/Footer/footer.scss");
@import url("../../src/Pages/SobreMi/sobreMi.scss");
@import url("../../src/Pages/Contacto/contacto.scss");
@import url("../Componentes/PopUp/popUp.scss");
@import url("../Pages/Apuntate/apuntate.scss");
@import url("../Pages/Tienda/tienda.scss");
@import url("../Pages/GaleriaTrabajos/galeria.scss");
@import url("../Componentes/FormComponent/input.scss");
@import url("../Componentes/FormComponent/formButton.scss");
@import url("../Pages/Portada/newslleterPortada.scss");
@import url("../Pages/ERROR404/error404.scss");
@import url("../context/swal.scss");
@import url("../Banner/Banner.scss");
@import url("../Componentes/Cookies-Banner/cookies_banner.scss");
@import url("../Pages/Blog/blog.scss");
@import url("../Pages/Blog/Articulo/articulo.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: auto;
}
.clase {
  height: 80vh;
}
p {
  font-family: "Montserrat", sans-serif;
  color: #404040;
}
h1,
h2,
h3 {
  font-family: "Arvo", serif;
  color: #404040;
}
.color1 {
  background-color: #94b4d0;
  &:hover {
    background-color: hsla(208, 39%, 70%, 0.85);
  }
}

.color2 {
  background-color: #cfab82;
  &:hover {
    background-color: hsla(32, 45%, 66%, 0.85);
  }
}

.color3 {
  background-color: #9cb48a;
  &:hover {
    background-color: hsla(94, 22%, 62%, 0.85);
  }
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.montserrat-500 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.fs-14 {
  font-size: 14px;
}

a {
  cursor: pointer;
}

.arvo-italic {
  font-family: "Arvo", serif;
  color: #404040;
  font-weight: 100;
  font-style: italic;
}

.arvo {
  font-family: "Arvo", serif;
  color: #404040;
  font-weight: 100;
}

.montserrat-italic {
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  
}
