@import url("../SCSS/variables.scss");
@import url("../Componentes/Navbar/Navbar.scss");
@import url("../Componentes/Portada/HeroPortda.scss");
@import url("../Componentes/Newsletter/newletter.scss");
@import url("../Componentes/Instagram/instagram.scss");
@import url("../Componentes/Footer/footer.scss");
@import url("../Componentes/SobreMi/sobreMi.scss");
@import url("../Componentes/Contacto/contacto.scss");
@import url("../Componentes/SobreMi/sobreMi.scss");





body {
  margin: auto;
}

p{
  font-family: "Montserrat", sans-serif; 
}
.color1 {
    background-color: #94b4d0;
  }
  
  .color2 {
    background-color: #c89e6f;
  }
  
  .color3 {
    background-color: #9cb48a;
  }

.montserrat {
  font-family: "Montserrat", sans-serif; 
}

.arvo {
  font-family: "Arvo", serif;
}

.form-control {
  border: none;
  &:focus{
    box-shadow:0px 0px 0.5px 1px   #cfab82;;
    border: 1px solid #c89e6f;
  }
}

.input-style {
  border: 1px solid #cfab82;
  width: 100%;
  padding: 5px;
  height: 54px;
  border-radius: 0;
}

.form-floating .is-invalid{
  background-image: none;
}

.form_button {
  background-color:#cfab82; ;
  border-radius: 25px;
  height: 54px;
  border: none;
  width: 100%;
  color: white;
  font-family:"Arvo", serif; ;
  &:hover{
    background-color: #cfab82;
  }
  &::before {
    background-color: #cfab82;
  }
  &:focus{
  outline: none;
  }
}