@import url("../../src/Componentes/Navbar/Navbar.scss");
@import url("../../src/Pages/Portada/HeroPortda.scss");
@import url("../Componentes/newsletterForm/newsletter.scss");
@import url("../Pages/Portada/Instagram/instagram.scss");
@import url("../../src/Componentes/Footer/footer.scss");
@import url("../../src/Pages/SobreMi/sobreMi.scss");
@import url("../../src/Pages/Contacto/contacto.scss");
@import url("../Componentes/PopUp/popUp.scss");
@import url("../Pages/Apuntate/apuntate.scss");
@import url("../Pages/Tienda/tienda.scss");
@import url("../Pages/GaleriaTrabajos/galeria.scss");




body {
  margin: auto;
}

p {
  font-family: "Montserrat", sans-serif;
}

.color1 {
  background-color: #94b4d0;
}

.color2 {
  background-color: #cfab82;
}

.color3 {
  background-color: #9cb48a;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.arvo {
  font-family: "Arvo", serif;
}

.form-control {
  border: none;
  &:focus {
    box-shadow: 0px 0px 0.5px 1px #cfab82;
    border: 1px solid #c89e6f;
  }
}

.input-style {
  border: 1px solid #cfab82;
  width: 100%;
  padding: 5px;
  height: 54px;
  border-radius: 0;
}

.form-floating .is-invalid {
  background-image: none;
}

.form_button {
    background-color: #c89e6f;
    border-radius: 25px;
    height: 54px;
    border: none;
    width: 100%;
    color: white;
    font-family: "Arvo", serif;
}
