@media (min-width: 320px) {
  .text-box-apuntate {
    margin-top: -30px;
    background-color: #ffffff;
    z-index: 1010;
    .fa-circle {
      font-size: 10px;
      color: red;
    }
    h1 {
      font-size: 28px;
      margin: 20px 0px 16px 0px;
    }
    li {
      color: #cfab82;
      margin-left: 30px;
      p {
        font-size: 18px;
        line-height: 25px;
        color: #3a2c28;
        margin-bottom: 10px;
      }
    }
  }
  .flechita {
    margin-bottom: -50px;
    margin-top: -10px;
    z-index: 1020;
    img {
      width: 90px;
    }
  }
  .newsletter-apuntate {
    background: #f3f3f3;
    padding: 55px 20px 0px 20px;
    p {
      font-size: 18px;
      line-height: 25px;
      color: #3a2c28;
      margin-bottom: 45px;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .text-box-apuntate {
    border: 1px solid #e0c2b6;
    padding: 0px 20px;
    li {
      margin: 0px 35px 0px 45px;
    }
  }
  .newsletter-apuntate {
    p {
      text-align: start;
    }
  }
}

@media (min-width: 992px) {
  .text-box-apuntate {
    margin-right: -78%;
    margin-top: 15px;
    p {
      font-size: 14px;
    }
  }
  .newsletter-apuntate {
    padding: 30px 50px 0px 50px;
    p {
      margin: 0px 0px 30px 0px;
    }
  }
  .flechita {
    margin-bottom: -30px;
    margin-top: -20px;
  }
}

@media (min-width: 1200px) {
  .text-box-apuntate {
    margin-right: -52%;
    max-height: 385px;
    p {
      font-size: 18px;
    }
  }
  .flechita {
    margin-bottom: -30px;
    margin-top: -85px;
    z-index: 1020;
  }
}

@media (min-width: 1400px) {
  .text-box-apuntate {
    margin-right: -72%;
    min-height: 350px;
  }
  .flechita {
    margin-bottom: -20px;
    margin-top: -90px;
  }
  .probandoPaleta-img{
  max-height: 530px;
  }
}

@media (min-width: 1920px) {
  .text-box-apuntate {
    min-height: 450px;
  }
  .flechita {
    margin-bottom: -20px;
    margin-top: -90px;
  }
}
